// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat {
  width: 300px;
  padding: 0 5px;
  border: 1px solid lightgray;
  border-radius: 2px;
  position: fixed;
  right: 50px;
  bottom: 10px;
  .header {
    display: flex;
    height: 30px;
    margin: 0 -5px;
    line-height: 30px;
    background-color: cornsilk;
    .close-btn {
      display: none;
      background-color: white;
      margin-left: auto;
    }
  }
  .content {
    display: none;
    #messages {
      height: 450px;
      overflow: scroll;
    }
    textarea {
      box-sizing: content-box;
      height: 24px;
      padding: 1px;
      line-height: 24px;
      border: none;
      border-bottom: solid 1px #d3d3d3;
      width: 100%;
      color: #000000;
    }
  }
}

